<html>
<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>
<body>

<!-- this is for searching for flights as a customer-->
<h2>Flight Search</h2>
  <form action= "/g_search_exec" method="POST">

  <label for="trip_type">One Way | Round Trip</label><br>
  <input type="radio" id="one_way" name ="trip_type" value="One Way" checked>
  <input type="radio" id="round_trip" name ="trip_type" value="Round Trip"> <br>

  <label for="dept_airport"> Leaving From: </label>
    <select name="dept_airport" id="dept_airport" required>
        <option value = ""></option>
        {% for each_airport in airports %}
        <option value="{{ each_airport['airport_name'] }}" {% if each_airport['airport_name'] == dept_airport %} selected {% endif %}> {{ each_airport['airport_name'] }} </option>
        {% endfor %}
    </select>

    <label for="dest_airport"> Going To: </label>
    <select name="dest_airport" id="dest_airport" required>
        <option value = ""></option>
        {% for each_airport in airports %}
        <option value="{{ each_airport['airport_name'] }}" {% if each_airport['airport_name'] == dest_airport %} selected {% endif %}> {{ each_airport['airport_name'] }} </option>
        {% endfor %}
    </select> <br>

  <label for="dept_date">Departure Date</label><br>
  <input type="date" id="dept_date" name="dept_date" required><br>

  <label for="return_date">Return Date</label><br>
  <input type="date" id ="return_date" name = "return_date"><br><br>

  <input type="submit" value="Search">
</form> 

{% if one_way_result %}
  <h2>Search Results</h2>
  <table>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departure Date and Time</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Base Price</th>
    </tr>

    {% for each_record in one_way_result %} <!--loop through the records-->
    <tr>
        <td>{{each_record['airline_name']}}</td>
        <td>{{each_record['flight_num']}}</td>
        <td>{{each_record['dept_date_time']}}</td>
        <td>{{each_record['airport_name']}}</td>
        <td>{{each_record['a.airport_name']}}</td>
        <td>{{each_record['base_price']}}</td>
    </tr>
  {% endfor %}
  </table> </br>

{% endif %}

{% if round_trip_result %}
  <h2>Departures</h2>
  <table>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departure Date and Time</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Base Price</th>
    </tr>

    {% for each_record in round_trip_result %} <!--loop through the records-->
    <tr>
        <td>{{each_record['f.airline_name']}}</td>
        <td>{{each_record['f.flight_num']}}</td>
        <td>{{each_record['d.dept_date_time']}}</td>
        <td>{{each_record['d.airport_name']}}</td>
        <td>{{each_record['a.airport_name']}}</td>
        <td>{{each_record['f.base_price']}}</td>
    </tr>
  {% endfor %}
  </table> </br>

  <h2>Arrivals</h2>
  <table>
    <tr>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departure Date and Time</th>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Base Price</th>
    </tr>

    {% for each_record in return_result %} <!--loop through the records-->
    <tr>
        <td>{{each_record['f.airline_name']}}</td>
        <td>{{each_record['f.flight_num']}}</td>
        <td>{{each_record['d.dept_date_time']}}</td>
        <td>{{each_record['d.airport_name']}}</td>
        <td>{{each_record['a.airport_name']}}</td>
        <td>{{each_record['f.base_price']}}</td>
    </tr>
  {% endfor %}
  </table> </br>

{% endif %}

</body>


</html>